# Capstone Project Data Science - 2nd part
The project is to determine if the neighborhood where I will move will be the same as the current neighborhood

## 1. PostalCode

### Import Libraries

In [149]:
from bs4 import BeautifulSoup as bs
import urllib.request as rqst
import pandas as pd
import numpy as np

###  Scrape the Wikipedia page

In [125]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = rqst.urlopen(url)
soup = bs(page, "lxml")

In [126]:
#print(soup.prettify())
tab = soup.find('table', class_='wikitable')

### Creating DataFrame

In [160]:
column_names = ['PostalCode','Borough', 'Neighborhood'] 
neighborhoods = pd.DataFrame(columns=column_names)

for row in tab.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        neighborhoods = neighborhoods.append({'PostalCode':cells[0].find(text=True).strip(),
                                              'Borough': cells[1].find(text=True).strip(),
                                              'Neighborhood': cells[2].find(text=True).strip()}, ignore_index=True)

neighborhoods.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

### Cleaning Dataset

In [161]:
neighborhoods=neighborhoods[neighborhoods['Borough']!='Not assigned']
neighborhoods.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [135]:
neighborhoods.groupby(['Borough']).count()

                   PostalCode  Neighborhood
Borough
Central Toronto             9             9
                           19            19
Downtown Toronto            5             5
                            5             5
East Toronto               12            12
                            1             1
East York                  24            24
                           17            17
Etobicoke                   6             6
                            5             5
Mississauga

North York

Scarborough

West Toronto

York

In [162]:
neighborhoods['Neighborhood'] = neighborhoods['Neighborhood'].str.replace("/", ",")
neighborhoods.head()

  PostalCode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park , Harbourfront
5        M6A        North York             Lawrence Manor , Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [163]:
neighborhoods[neighborhoods['Neighborhood']=='Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [164]:
neighborhoods.shape

(103, 3)